n8n_workflow_v1.json
{
    "name": "New Article Distribution",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "new-article",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "new-article"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$node[\"Webhook\"].json[\"body\"][\"category\"]}}",
                            "value2": "breaking"
                        }
                    ]
                }
            },
            "name": "Is Breaking News?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "@YOUR_TELEGRAM_CHANNEL_USERNAME",
                "text": "=🔔 *خبر عاجل: {{$node[\"Webhook\"].json[\"body\"][\"title\"]}}*\n\n{{$node[\"Webhook\"].json[\"body\"][\"excerpt\"]}}\n\n🔗 لقراءة التفاصيل: {{$node[\"Webhook\"].json[\"body\"][\"sourceUrl\"]}}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Telegram (Channel)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "Telegram Account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "@YOUR_TELEGRAM_CHANNEL_USERNAME",
                "text": "=📰 *خبر جديد: {{$node[\"Webhook\"].json[\"body\"][\"title\"]}}*\n\n{{$node[\"Webhook\"].json[\"body\"][\"excerpt\"]}}\n\n🔗 لقراءة المزيد: {{$node[\"Webhook\"].json[\"body\"][\"sourceUrl\"]}}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Telegram (Normal)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                750,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TELEGRAM_CREDENTIALS_ID",
                    "name": "Telegram Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Is Breaking News?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Breaking News?": {
            "main": [
                [
                    {
                        "node": "Telegram (Channel)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Telegram (Normal)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}