n8n_workflow_v3_rebuilt.json
{
    "name": "Voice of Tihama - Auto Post v3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "new-article",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "new-article"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"message\": \"Article received\", \"articleId\": \"{{ $json.body.id }}\" }",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v18.0/1004685312722627/feed",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "link",
                            "value": "={{ $('Webhook').item.json.body.sourceUrl }}"
                        },
                        {
                            "name": "message",
                            "value": "=📰 {{ $('Webhook').item.json.body.title }}\n\n{{ $('Webhook').item.json.body.excerpt }}\n\n#صوت_تهامة #اليمن #أخبار"
                        },
                        {
                            "name": "access_token",
                            "value": "EAAMEbLZAHtRcBQlzQHSw2ZBscFlcFQZBCrLSfcZCukapOkNkbBd78JZBqBOJrtZAHOemeQ6C1twGeJPVKoXRCGUDwYHvHTh3B48OEUFKI2UKjKZC4ZBRoLnwCDVCGEsb10ULwlMkPAkFG66QiLRxiltBWWbmxGbtch5H4EZBfLflRwSbJvc6iHQEWPpG6lkZBXokBqVtX1U7yWieOkz5xpDBqt31TKB9TzVQrJYWTxRZCwimdzARBqTZAHSkGycZD"
                        }
                    ]
                },
                "options": {}
            },
            "id": "facebook-post",
            "name": "Post to Facebook",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook": {
            "main": [
                [
                    {
                        "node": "Post to Facebook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}